{% extends "base.html" %}

{% block title %}BLOG DETAILS{% endblock title %}

{% block body_block %}
  <div class="row">
    <div class="col-sm-6">
      <h2>{{ blog.blog_title }}</h2>
      <h4>Posted by: {{ blog.autor }}</h4>
      <i><h6>Published on: {{ blog.publish_date }}</h6></i>
      <i><h6>Updated on: {{ blog.update_date }}</h6></i>
    </div>

    <div class="col-sm-6">
      <img src="/media/{{ blog.blog_image }}" width="100%">
    </div>
    {{ blog.blog_content | linebreaks }}
  </div>
{% endblock body_block %}