{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Create New Account
{% endblock title %}

{% block body_block %}

    {% if registered %}
      <div class="alert alert-success">
        Account Created Successfully <a href="{% url 'App_Login:signin' %}">Login here</a>
      </div>
    {% else %}
    <h1>Create New Account</h1>
    <form method="POST">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" 
        class="btn btn-success btn-sm">Create Account</button>
    </form>
    <br>
    <p>Already have an account <a href="{% url 'App_Login:signin' %}">Login Here</a></p>
    {% endif %}
  

{% endblock body_block %}